*
{
    padding:0px;
    margin:0px;
}
ul{
    background-color: #cccccc;
    list-style-type: none;
}

ul li{
    background-color: #6758f199;
    padding: 10px;
    margin:25px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
