*
{
    padding:0px;
    margin:0px;
}
body{
    background-color: #cccccc;
}
ul{
    list-style-type: none;
}

ul li{
    display:inline;
    width: 150px;
    text-align:center;
    margin:5px;
    padding: 3px 0 0 10px;
    background-color: #cccc99;
   
}
